/*font-family: 'Itim', cursive;
font-family: 'Source Sans Pro', sans-serif;*/

.content{
	animation-name: fade-in;
	animation-duration: 2s;
}

.sidebar {
	background: rgba(64, 6, 6, 0.7);
	border-radius: 18px;
}
body{
	background: rgba(64, 6, 6, 0.09);
}
img{
	width: 400px;
	height: 500px;
	transition: 0.5s all;
	border-radius: 18px;
}

img:hover {
	height: 550px;
	width: 450px;
}

#main {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 50px;
}

p {
	font-family: 'Itim', cursive;
}

li {
	font-family: 'Itim', cursive;
}

a {
	font-family: 'Itim', cursive;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
}


.image-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-grid > img{ /*selektujem svaku sliku koja je unutar image-grid klase*/
	margin:10px;
}

#image-1{ /*pomeram prvu sliku da stoji sa strane */
	float: right;
	margin: 20px;
	height: 450px;
	border-radius: 300px;
}

.post{
	border: 2px solid rgb(64, 6, 6);
	background: rgba(64, 6, 6, 0.3);;
	margin: 10px;
	margin-right: 50px;
	border-radius: 18px;
}

.post-title{
	margin-left: 5px;
}

.post-text{
	margin-left: 5px;
	margin-right: 5px;;
}

.post > a{
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	transition: 0.5s color;
}

.post > a:hover {
	color: rgb(250, 250,250);
}

@keyframes fade-in {
	from{opacity: 0;}
	to{opacity: 1;}
}
